@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;

@{
  var linkHelper = CreateInstance("../Shared/LinkHelper.cs");
	var listItemToolbar = Kit.Toolbar.Default().Layout("-");
}

<div class="app-filelist mb-4" @Kit.Toolbar.Default(Header)>
  @Html.Partial("../Shared/_Header tag.cshtml", new { HeadingType = Header.HeadingType, Title = Header.Title })
  
  <div class="list-group">
    @foreach (var listItem in AsList(Data)) {      
      var linkInfo = linkHelper.LinkInfos(listItem);

      <a href="@listItem.Url" class="list-group-item list-group-item-action" target="@linkInfo.Window" aria-current="true" @listItemToolbar.For(listItem)>
        @Html.Partial("_File.cshtml", new { File = listItem, Icon = linkInfo.Icon } )
      </a>
    }
  </div>
</div>

@Html.Partial("../Shared/_Assets.cshtml")
