@inherits Custom.Hybrid.Razor14

@{
  // get helper commands
  var linkHelper = CreateInstance("../Shared/LinkHelper.cs");

	var listItemToolbar = Kit.Toolbar.Default().Layout("-");
}

<div class="app-filelist mb-4" @Kit.Toolbar.Default(Header).Settings(hover: "left", autoAddMore: "start")>
  @* call sub-template to show the title with the correct H1-H6 tag *@
  @Html.Partial("../Shared/_Header tag.cshtml", new { Title = Header.Title })
  
  <div class="list-group">
    @foreach (var listItem in AsList(Data)) {
      var linkInfo = linkHelper.LinkInfos(listItem);
      var isLocalFile = !listItem.FileLink.Contains("http");

      <a href="@listItem.FileLink" class="list-group-item list-group-item-action" target="@linkInfo.Window" aria-current="true" @listItemToolbar.For(listItem)>
        <i class="co-icon fas @linkInfo.Icon" aria-hidden="true"></i>
        <span>
          @listItem.Name
          @if (isLocalFile) {
            var sizeInfo = Kit.Adam.File(listItem.Field("FileLink")).SizeInfo;
            <text>(@sizeInfo.BestSize.ToString("#.##") @sizeInfo.BestUnit)</text>
          }
        </span>
      </a>
    }
  </div>
</div>

@Html.Partial("../Shared/_Assets.cshtml")
