@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@{
  // get helper commands
  var linkHelper = CreateInstance("../Shared/LinkHelper.cs");

  Kit.Page.Activate("Fontawesome5");
  
	var fileMetadataToolbar = Kit.Toolbar.Empty().Edit().Add();
}

<div class="app-filelist mb-4" @Kit.Toolbar.Default(Content)>
  <h1>@Content.Title</h1>
  <div class="list-group">
    @foreach (var file in AsAdam(Content,"Files").Files) {
      var fileTitle = Text.First(file.Metadata.Title, file.Name);

      <a href="@file.Url" class="list-group-item list-group-item-action ps-2" aria-current="true" @fileMetadataToolbar.For(file.Metadata)>
        <i class="co-icon fas @file.Metadata.Icon" aria-hidden="true"></i>
        <span>
          <strong>@fileTitle</strong>
          @{
            var sizeInfo = Kit.Adam.File(file.Id).SizeInfo;
          }
          @if(sizeInfo.BestSize > 0){
            <text>(@sizeInfo.BestSize.ToString("#.##") @sizeInfo.BestUnit)</text>
          } else {
            <text>(0 KB)</text>
          }
          <span class="description-wrapper">
            @Html.Raw(file.Metadata.Description)
          </span>
        </span>
      </a>
    }
    
    @foreach(var folder in AsAdam(Content, "Files").Folders) {
      @Html.Partial("_Subfolder.cshtml", new { Folder = folder, Level = 2 })
    }
  </div>
</div>

@Html.Partial("../Shared/_Assets.cshtml")
