@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@* --- This is the Bootstrap5 Edition of the File --- *@
@{
  // Get the ADAM object of the current content (folder)
  var rootItem = AsTyped(Data.MyContent);
  var folder = rootItem.Folder("Files");
}

<div class="app-filelist mb-4" @Kit.Toolbar.Default(rootItem)>
  
  @Html.Partial("Shared Part Title.cshtml", new { HeadingType = rootItem.String("HeadingType"), Title = rootItem.String("Title") })

  <div class="list-group">
    @foreach (var file in folder.Files) {
      @Html.Partial("Shared Part File.cshtml", new { rootItem, file, fileInfo = file.Metadata, Level = 1 } )
    }
  
    @foreach (var subFolder in folder.Folders) {
      @Html.Partial("Folder.Part Subfolder.cshtml", new { rootItem, folder = subFolder, Level = 1 })
    }
  </div>
</div>

@Html.Partial("Assets.cshtml")
