@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@* --- This is the Bootstrap5 Edition of the File --- *@
@{
  // Get the ADAM object of the current content (folder)
  var mainFolder = AsAdam(Content, "Files");
  var rootIsDemo = Content.IsDemoItem;
}
<div class="app-filelist mb-4" @Kit.Toolbar.Default(Content)>
  @Html.Partial("Shared Part Title.cshtml", new { HeadingType = Content.HeadingType, Title = Content.Title })

  <div class="list-group">
    @foreach (var file in mainFolder.Files) {
      @Html.Partial("Shared Part File.cshtml", new { File = file, UseMetadata = true, RootIsDemo = rootIsDemo } )
    }
    
    @foreach (var folder in mainFolder.Folders) {
      @Html.Partial("Folder.Part Subfolder.cshtml", new { Folder = folder, Level = 2, RootIsDemo = rootIsDemo })
    }
  </div>
</div>

@Html.Partial("Assets.cshtml")
