@inherits AppCode.Razor.AppRazor
@using AppCode.Data
@using AppCode.Razor
@using ToSic.Razor.Blade

@* --- This Shows a Folder and all the files/folders in it recursively --- *@

@{
  var folder = As<Folder>(MyItem);  // Folder object as a strongly typed object
}

<div class="app-filelist mb-4" @Kit.Toolbar.Default(folder)>
  @* Show the title *@
  @ShowTitle(folder)

  <div class="list-group">
    @* Show all files *@
    @foreach (var file in folder.FilesFolder.Files) {
      @Html.Partial("Shared Part File.cshtml", new FileViewModel(file, 1, As<File>(file.Metadata)))
    }
  
    @* Show all subfolders *@
    @foreach (var subFolder in folder.FilesFolder.Folders) {
      @Html.Partial("Folder.Part Subfolder.cshtml", new FolderViewModel(subFolder, 1))
    }
  </div>
</div>

@Html.Partial("Assets.cshtml")
