@inherits AppCode.Razor.AppRazor<AppCode.Razor.FolderViewModel>
@using AppCode.Data
@using AppCode.Razor
@using ToSic.Razor.Blade
@* --- This is the Bootstrap5 Edition of the File --- *@
@* Show Subfolder from folders including all Files *@
@{
  // Get the Folder and level from the MyModel (parameter passed to this partial Razor)
  var folder = Model.Folder;
  var level = Model.Level;
  var sectionId = UniqueKey + folder.Id;
}

@* Folder Row with Accordeon *@
<a
  href="#folder-@sectionId"
  class="list-group-item folder @ClassPadding(level + 1)"
  data-folder-id="@sectionId"
  data-folder-level="@level"
  @BsToggleAttr="collapse" role="button"
  aria-expanded="false"
  aria-controls="folder-@sectionId"
  >
  <i class="co-icon fas fa-folder" aria-hidden="true"></i>
  <strong>@folder.Name</strong>
</a>

@* Show all files for each Folder *@
<div id="folder-@sectionId" class="collapse">
  @foreach (var file in folder.Files) {
    @Html.Partial("Shared Part File.cshtml", new FileViewModel(file, level + 1, As<File>(file.Metadata)))
  }
  
  @foreach (var subFolder in folder.Folders) {
    @Html.Partial("Folder.Part Subfolder.cshtml", new FolderViewModel(subFolder, level + 1))
  }
</div>