@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
@using ToSic.Sxc.Services; @* Make it easier to use https://r.2sxc.org/services *@

@{
  // get helper commands
  var linkHelper = CreateInstance("_LinkHelper.cshtml");
}

<div class="app-filelist">
	<div class="list-group">
		@foreach (var listItem in AsList(Data)) {
			var linkInfo = linkHelper.LinkInfos(listItem.FileLink, "", listItem.Icon);
			var fullPath = HttpContext.Current.Server.MapPath("~" + listItem.FileLink);
			var fileSize = new FileInfo(fullPath).Length / 1024;

			<a href="@listItem.FileLink" class="list-group-item" target="@linkInfo.Window" aria-current="true" @Edit.TagToolbar(listItem)>
				<i class="co-icon fas @linkInfo.Icon" aria-hidden="true"></i>
				<span>
					@listItem.Name (@fileSize kb)
				</span>
			</a>
		}
	</div>
</div>

@Html.Partial("./_Assets.cshtml")
