@inherits Custom.Hybrid.Razor14
@using System.Text.RegularExpressions;
@using ToSic.Razor.Blade;
@{
  var Folder = DynamicModel.Folder;

  var level = DynamicModel.Level;

	var fileMetadataToolbar = Kit.Toolbar.Empty().Edit().Add();
}
<a class="list-group-item pl-@level" href="#folder-@Folder.Id" data-toggle="collapse"  role="button" aria-expanded="false" aria-controls="folder-@Folder.Id">
  <i class="co-icon fas fa-folder" aria-hidden="true"></i>
  <strong>@Folder.Name</strong>
</a>

@{
  level = level + 1;
}
<div id="folder-@Folder.Id" class="collapse">
  @if(AsList(Folder.Files) != null){
    foreach(var file in AsList(Folder.Files)){
      <a href="@file.Url" class="list-group-item list-group-item-action pl-@level" aria-current="true" @fileMetadataToolbar.For(file.Metadata)>
        <i class="co-icon fas @file.Metadata.Icon" aria-hidden="true"></i>
        <span>
          <strong>@file.Metadata.Title</strong>
          @{
            var sizeInfo = Kit.Adam.File(file.Id).SizeInfo;
          }
          @if(sizeInfo.BestSize > 0){
            <text>(@sizeInfo.BestSize.ToString("#.##") @sizeInfo.BestUnit)</text>
          }
          <span class="description-wrapper">
            @Html.Raw(file.Metadata.Description)
          </span>
        </span>
      </a>
    }
  }
  @if(AsList(Folder.Files) != null){
    foreach(var folder in AsList(Folder.Folders)){
      @Html.Partial("_Subfolder.cshtml", new { Folder = folder, Level = level })
    }
  }
</div>