@inherits Custom.Hybrid.Razor14

@{
  // get helper commands
  var linkHelper = CreateInstance("../Shared/LinkHelper.cs");

	var listItemToolbar = Kit.Toolbar.Default().Layout("-");
}

<div class="app-filelist mb-4" @Kit.Toolbar.Default(Header)>
	@* call sub-template to show the title with the correct H1-H6 tag *@
	@Html.Partial("../Shared/Header tag.cshtml", new { Title = Header.Title })
	
	<div class="list-group">
		@foreach (var listItem in AsList(Data)) {
  		var linkInfo = linkHelper.LinkInfos(listItem);

			<a href="@listItem.FileLink" class="list-group-item list-group-item-action" target="@linkInfo.Window" aria-current="true" @listItemToolbar.For(listItem)>
				@Html.Partial("File.cshtml", new { File = listItem, Icon = linkInfo.Icon } )
			</a>
		}
	</div>
</div>

@Html.Partial("../Shared/Assets.cshtml")
