@inherits Custom.Hybrid.Razor14
@using System.Text.RegularExpressions;
@using ToSic.Razor.Blade;
@{
  var linkHelper = CreateInstance("../Shared/LinkHelper.cs");
  
  var Folder = DynamicModel.Folder as ToSic.Sxc.Adam.IFolder;
  var level = DynamicModel.Level;

	var fileMetadataToolbar = Kit.Toolbar.Empty().Edit().Add();
}
<a href="#folder-@Folder.Id" class="list-group-item pl-@level folder" data-folder-id="@Folder.Id" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="folder-@Folder.Id">
  <i class="co-icon fas fa-folder" aria-hidden="true"></i>
  <strong>@Folder.Name</strong>
</a>

@{
  level = level + 1;
}
<div id="folder-@Folder.Id" class="collapse">
  @if(AsList(Folder.Files) != null){
    foreach(var file in AsList(Folder.Files)){
      var linkInfo = linkHelper.LinkInfos(file.Path, "", file.Metadata.Icon);

      <a href="@file.Url" class="list-group-item list-group-item-action pl-@level" aria-current="true" @fileMetadataToolbar.For(file.Metadata)>
        @Html.Partial("File.cshtml", new { File = file, Icon = linkInfo.Icon } )

        <span class="description-wrapper">
          @Html.Raw(file.Metadata.Description)
        </span>
      </a>
    }
  }
  
  @if(AsList(Folder.Files) != null){
    foreach(var folder in AsList(Folder.Folders)){
      @Html.Partial("Subfolder.cshtml", new { Folder = folder, Level = level })
    }
  }
</div>